<!DOCTYPE html><meta charset="UTF-8">
<title><%= title %></title>
<style media="screen">

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, pre, tt, code, blockquote {
  margin: 0px;
  padding: 0px;
  position: relative;
}

/* TYPE */

body, h1, h2, h3, h4, h5, h6 {
  font: 18px/25px Optima, sans-serif;
}
pre, code, #code_background {
  font: 16px/25px Consolas, "PT Mono", monospace;
}
h1, h2, h3, h4, h5, h6, body > nav a {
  font-weight: bold;
}
:not(pre) > code { padding: 2px;}

/* PAINT */

body { background: hsl(0, 0%, 20%); }
td.text { background: white; color: black; }
td.code, code, pre { background: hsl(200, 33%, 95%); }
.hljs-string, .hljs-regexp, .hljs-literal, .hljs-keyword { color: hsl(160, 99%, 33%); }
a { color: inherit; }
body > nav a { color:hsla(0, 0%, 100%, 0.25); }
body > nav a[href] { color:hsla(0, 0%, 100%, 0.75);}
body > nav a[href]:hover { color: white;}

/* LAYOUT */

body { max-width:1350px; }
body > h1 { position: absolute; left: 25px; top: 25px; }
body > nav { padding: 25px; }
body > nav a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; width: 100%;}
td { padding: 0px; }
td.text { min-width: 550px; width: 33%; vertical-align: top; }
td.text h1 { margin: 25px; }
td.text h2 { margin: 25px; }
td.text p { margin: 25px; }
td.text pre { padding: 10px; margin: 25px; }
td.code { min-width: 550px; width: 67%; white-space: nowrap; vertical-align: top; }
td.code pre { margin: 25px; }
#section-1 td.text { padding-top: 50px; }

@media screen and (min-width: 1350px) { body { margin: 15px auto; } }
@media screen and (min-width: 1380px) { body { margin: 15px 15px 15px auto; } }
@media screen and (min-width: 1450px) { body > nav { position: fixed; left: 0px; top: 15px; z-index: -1; } }
@media screen and (min-width: 1550px) { body { margin: 15px auto 15px 200px; } }

</style>

<h1><%= title %></h1>

<table>
<% for (var i=0, l=sections.length; i<l; i++) { %>
  <% var section = sections[i]; %>
  <tr id="section-<%= i + 1 %>">
    <td class="text">
      <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
      <%= section.docsHtml %>
    </td>
    <td class="code">
      <%= section.codeHtml %>
    </td>
  </tr>
<% } %>
</table>

<nav>
<% for (var i=0, l=sources.length; i<l; i++) { %>
  <% var source = sources[i]; %>
  <div><a class="source" <% if (!path.basename(source).match(title)) { %><%= 'href="' + path.basename(destination(source)) + '"' %><% } %>">
    <%= path.basename(source) %>
  </a></div>
<% } %>
</nav>
